Language: Cpp
Standard: c++20

BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^\".*\""
    Priority: 1

  - Regex: "^<.*>"
    Priority: 2


NamespaceIndentation: None
CompactNamespaces: false
FixNamespaceComments: true

PointerAlignment: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: Align
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0


SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpaceBeforeSquareBrackets: false
SpaceAfterLogicalNot: false

AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: Inline
AllowShortBlocksOnASingleLine: Empty

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

SpacesInAngles: Never

AccessModifierOffset: -4

MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

Cpp11BracedListStyle: true
ReflowComments: true
